.department{
    padding-top: 80px;
    .card{
        width: 30%;
    }
    .cardDoctor{
        width: 20%;
    }
    &__title{
        margin-bottom: 38px;
    }
    &__row{
        display: flex;
        justify-content: space-evenly ;
        margin-bottom: 20px;
    }
    &__btn{
        display: flex;
        justify-content: center;
        .btn{
            position: relative;
        top: 30px;
        }
    }
    &__btn1{
        display: flex;
        justify-content: start;
    }
}