.nav{
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: $light-font;
    &__img{
        img{width: 150px;}
    }
    &__btn{
        display: flex;
        justify-content: center;
    }
}
.navv{
    padding: 15px;
    display: flex;
    justify-content: end;
    background: $light-font;
    &__contect{
        color:$dark-font;
        padding: 5px;
    }
}