.testimonial{
        display: flex;
        justify-content: center;
        align-items: center;
        &--text{
                display: flex;
                &__pargraph{
                        color:$light-font;
                        font-size: 20px;
                        text-align: center;
                        h3{
                                padding-top: 40px;
                        }
                }
                &__colon{
                        font-size: 50px;
                        transform: scale(-1);
                        padding-top: 100px;
                        color:$light-font;
                }
                &__colon1{
                        font-size: 50px;
                        padding-top: 30px;
                        color:$light-font;
                }
        }
}