.cardDoctor{
    border: 1px solid $dark-font;
    &__text{
        h3 {
            color: $black-color;
            margin-bottom: 10px;
            margin-top: 15px;
            margin-left: 25px;
        }
        p {
            color: $dark-font;
            width: 70%;
            margin-left: 25px;
            margin-bottom: 20px;
        }
    }
    &__img{
    img{
        height: 300px;
        width: 227px;
        transition: transform 0.7s ease;
        transform-origin: center;
    }
}
&:hover p {
    color: $white-color;
}
&:hover h3 {
    color: $white-color;
}
&:hover .title__arr{
    color: $white-color;
    border: 2px solid $white-color;
}
&:hover {
    @include eleHover($secondry-color,$white-color);
}
&:hover img {
    transform: scale(1.03)
    
}
}