.section-bgcolor{
background-color: $section-gray;
height: 600px;
}
.sectiontext-bgcolor{
    background-color: $primary-color;
    height: 300px;
    
}
.sectionfooter-bgcolor{
    background-color:$gray_color;
    height: 300px;
    
}